@charset 'utf-8';
@import '_utils';

html{
    font-size: 10px;
    color: $black;

    body{
        button, input[type=button], input[type=reset], input[type=submit]{
            cursor: pointer;
        }
    }
}

//구조
.routerContainer{
    display: flex;

    .mainContainer{
        flex-grow: 1;
        width: 99rem;
    }
}

.page{
    display: flex;
    
    .container{
        &:nth-child(1){
            flex: 2;
        }
        &:nth-child(2){
            position: sticky;
            flex: 1;
            min-height: 100vh;
            border-left: 1px solid $hover2;
        }
    }
}


@include mobile{
    html{
        font-size: 8px;
    }
}

