@charset 'utf-8';
@import '_utils';

html{
    font-size: 10px;
    color: $black;

    body{
        button, input[type=button], input[type=reset], input[type=submit]{
            cursor: pointer;
        }
    }
}

//구조
.routerContainer{
    display: flex;

    .mainContainer{
        flex-grow: 2;
        width: 99rem;
    }
}

.page{
    display: flex;
    
    .container{
        &:nth-child(1){
            max-width: 60rem;
            flex: 2;
            border-right: 1px solid $hover2;
        }
        &:nth-child(2){
            position: sticky;
            flex: 1;
            min-height: 100vh;

            .box{
                max-width: 30rem;
                margin: 1.2rem 3rem;
            }
        }
    }
}

//authBtns
.authBtns{
    display: flex;
    flex-direction: column;

    .authBtn{
        margin: 1.2rem 0;
        height: 4rem;
        border-radius: 5rem;
        border: 1px solid $border;
        background-color: $hover1;
        font-size: 1.5rem;
        font-weight: 500;
        transition: 0.2s;

        &:hover{
            background-color: $hover2;
        }

        svg{
            margin-left: 0.5rem;
        }
    }
}

//contact
.contact{
    font-size: 1.3rem;
    
    .contactText{
        padding-bottom: 1.2rem;
        color: $softGray;

        a{
            color: $skyBlue;
        }
    }
    .contactList{
        padding-top: 1.2rem;
        border-top: 1px solid $border;
        color: $softGray;

        a{
            color: $softGray;
            padding-right: 0.6rem;
        }
    }
}

@include mobile{
    html{
        font-size: 8px;
    }
}

