@charset 'utf-8';
@import '_utils';

html{
    font-size: 10px;
    color: $black;

    body{
        button, input[type=button], input[type=reset], input[type=submit]{
            cursor: pointer;
        }
    }
}

//구조
.routerContainer{
    display: flex;
    height: 100vh;

    .mainContainer{
        flex-grow: 1;
    }
}


@include mobile{
    html{
        font-size: 8px;
    }
}

